* {
    box-sizing: border-box;
}
html,
body {
    text-align: center;
    font-family: "Product-sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 16px;
    background-color: rgba(102,124,225,255);
    min-height: 100%;
}

.login-button {
    margin-top: 50px;
    width: 100%;
    background-color: #080710;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:hover{
    background-color: rgba(102,124,225,255);
    color: #080710;
    transition: 0.3s;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
form {
    height: 980px;
    width: 400px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 70px;
    min-height: 100%;

}
form * {
    font-family: 'Poppins', sans-serif;
    color : #080710;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    
}
form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.logo{
    height: 100px;
    width: 100px;       
}

.register-button{
    font-family: OpenSans-Regular;
    font-size: 13px;
    line-height: 1.4;
    text-decoration: none;
    color: #080710;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center !important;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.register-button:hover{
    color: rgba(102,124,225,255);
    transition: 0.3s;
}

.controls {
    display: flex;
}

.radio {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1em;
}

.upload{
    height: auto;
}
