{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!Pill.io help!</title>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;1,300&family=Sansita+Swashed&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/static/help-page.css">
</head>
<body>
    <script type="text/javascript"
        src="https://temple-cis-projects-in-cs.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-9zew5j/b/7/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=1d3a21b2"></script>

    <main>
        <h1 class="faq-heading">! Pill.io everything you need to know !</h1>
        </br>
        </br>
        <section class="faq-container">
            <div class="faq-one">
                <!-- faq question -->
                <h1 class="faq-page">What is Pill.Io?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Pill.io is a machine learning empowered pill dispenser that will allow both caregivers and
                        patients to have peace of mind as they partake in what for most of them is a daily
                        requirement for their health and safety.</p>
                </div>
            </div>

            <hr class="hr-line">
            <div class="faq-two">
                <!-- faq question -->
                <h1 class="faq-page">How does it work?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> The pill dispensing software will allow for medications to always be dispensed
                        with only the needed medications and dosages based on the facial recognition
                        of the patient attempting to get their medication.</p>
                </div>
            </div>

            <hr class="hr-line">
            <div class="faq-three">
                <!-- faq question -->
            <h1 class="faq-page">Does it improves the users life?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> Allows patients to get their medication without the struggle of opening or sorting
                        through pill bottles and help prevent the possibility of an overdose on medications
                        by no longer having patients access to all their medicine supplies at the same time.
                        Moreover, caregivers will be able to access data regarding the frequency and timing of
                        when/if their patients take their medications which will help inform their care.</p>
                </div>
            </div>

            <hr class="hr-line">
            <div class="faq-four">
                <!-- faq question -->
            <h1 class="faq-page">Why Use pill.IO?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> Pill.io helps take medication promptly with its ease of use. Allows patients to get their medication
                    without the struggle of opening or sorting through pill bottles and help prevent the possibility of an
                    overdose on medications by no longer having patients access to all their medicine supplies at the same time.</p>
                </div>
            </div>

            <hr class="hr-line">
            <div class="faq-five">
                <!-- faq question -->
            <h1 class="faq-page">How to Use pill.IO?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> Pill.io is simple and easy to use .
                    1) Add medicines you're taking on medform
                    2) Your medicines will show up on dashboard. The time and the medicines that needs to be taken at the ight time will be
                    shown on top of the dashboard</p>
                </div>
            </div>


            <hr class="hr-line">
            <div class="faq-six">
                <!-- faq question -->
            <h1 class="faq-page">OUR GOAL</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> to create something that would remove the hassle of opening pill bottles and/or daily organizers for people who takes
                        medicines every day. We also wanted something that allows users to connect to their patient profile and with their medication information,
                        Dispense medications for the patient, and record user information into a database.</p>
                </div>
            </div>

        </section>
    </main>
    <script src="/static/help-page.js"></script>
</body>
</html>
{% endblock %}