{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!Pill.io help!</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/help-page.css">
</head>
<body>
    <main>
        <h1 class="faq-heading">! Pill.io everything you need to know !</h1>
        <section class="faq-container">
            <div class="faq-one">
                <!-- faq question -->
                <h1 class="faq-page">What is Pill.Io?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Pill.io is a machine learning empowered pill dispenser that will allow both caregivers and
                        patients to have peace of mind as they partake in what for most of them is a daily
                        requirement for their health and safety.</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-two">
                <!-- faq question -->
                <h1 class="faq-page">How does it work?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> The pill dispensing software will allow for medications to always be dispensed
                        with only the needed medications and dosages based on the facial recognition
                        of the patient attempting to get their medication.</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-three">
                <!-- faq question -->
            <h1 class="faq-page">Does it improves the users life?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> Allows patients to get their medication without the struggle of opening or sorting
                        through pill bottles and help prevent the possibility of an overdose on medications
                        by no longer having patients access to all their medicine supplies at the same time.
                        Moreover, caregivers will be able to access data regarding the frequency and timing of
                        when/if their patients take their medications which will help inform their care.</p>
                </div>
            </div>
        </section>
    </main>
    <script src="/static/help-page.js"></script>
</body>
</html>
{% endblock %}