{% extends "base.html" %}

{% block content %}
<div class="hero-body" xmlns="http://www.w3.org/1999/html">

    <body>

        <div class="container has-text-centered">

        <script type="text/javascript" src="https://temple-cis-projects-in-cs.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-9zew5j/b/7/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=1d3a21b2"></script>

            <h1 class="title" style="font-size:90px; color:#000000;
             font-family: 'Karla', sans-serif;">
                Welcome to Pill.io!
            </h1>


            <img
                 src="https://cdn.discordapp.com/attachments/933802629069426771/940587646013542500/PILL.IO.png"
                 alt="logo"
                 style="width:400px;height:400px"

            />


            <h2 class="subtitle" style="font-family: 'Karla', sans-serif; font-size: 30px; color: black">
                By: Abin C, Anna M, Ethan L, Tandi H, Misha G

            </h2>

        </div>
    </body>
</div>
{% endblock %}


---------------Folder prject name
               ├── __init__.py # setup your app
               ├── main.py   # the non-auth routes for your app
               ├── auth.py   # the auth routes for your app
               ├── models.py # your user model
               ├── db.sqlite # your database
               └── templates
                    ├── base.html     # contains common layout and links
                    ├── index.html    # show the home page
                    ├── login.html    # show the login form
                    ├── profile.html  # show the profile page
                    └── signup.html   # show the signup form
