{% extends "base.html" %}

{% block content %}
<div class="hero-body">
        <div class="container has-text-centered">


            <h1 class="title" style="font-size:90px; color:maroon; font-family:Copperplate, Copperplate Gothic Light, fantasy;">
                Welcome to Pill.io
            </h1>

            <img
                            src="https://cdn.discordapp.com/attachments/933802629069426771/940587646013542500/PILL.IO.png"
                            alt="logo"
                            class="logo"
            />
            <h2 class="subtitle" style="font-family: 'Luxurious Roman', cursive; font-size: 30px; color: black">
                By: Abin C, Anna M , Ethan L, Tandi H , Mihhail G

            </h2>

        </div>
</div>
{% endblock %}


---------------Folder prject name
               ├── __init__.py # setup your app
               ├── main.py   # the non-auth routes for your app
               ├── auth.py   # the auth routes for your app
               ├── models.py # your user model
               ├── db.sqlite # your database
               └── templates
                    ├── base.html     # contains common layout and links
                    ├── index.html    # show the home page
                    ├── login.html    # show the login form
                    ├── profile.html  # show the profile page
                    └── signup.html   # show the signup form
