<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Settings Page</title>
      <link rel="icon" href="https://cdn.discordapp.com/attachments/950125055898185758/950951813530673182/Logo.png">

	<link rel="stylesheet" href="/static/SettingsPage.css">
</head>
<body style="background-color: rgba(102,124,225,255);";>

    <div class="container">
      <form>
       <div class="header">
           <h1>Account-Settings</h1>
       </div>

        <div style="row">

           <label for="Picture">
              Your Uploaded Picture:
           </label>
            <img src="/userimages/harry.jpg">

       </div>

       <div class="row">
           <label for="realname">
               Your First Name Is:
           </label>
           <input type="text"/>
       </div>

       <div class="row">
           <label for"Username">
           Your Last Name Is:</label>
           <input type="text"/>
       </div>

       <div class="row">
           <label for"Emailaddress">
           Your Email Address Is:</label>
           <input type="text"/>
       </div>

       <div class="row">
           <label for"Password">
           Your Password is:</label>
           <input type="text"/>
       </div>

      </div>
   </div>
   </body>
   </html>