{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/signup" enctype="multipart/form-data">
              <img
                src="https://cdn.discordapp.com/attachments/933802629069426771/940587646013542500/PILL.IO.png"
                alt="logo"
                class="logo"
              />
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first_name" placeholder="First Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last_name" placeholder="Last Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password" required>
                </div>
            </div>

            <div class="field">
                <label>Date of Birth</label>

                <input type="date" id="start" name="dob">
            </div>

            <label>Upload New Photo:</label>
            <form method="POST" action="" enctype="multipart/form-data">
                <p><input type="file" name="image" accept="image/png, image/gif, image/jpg" required></p>
<!--                <p><input type="submit" value="Submit Photo"></p>-->
<!--                <input type="submit" value="Sign Up">-->
                <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
            </form>

        </form>
    </div>
</div>
{% endblock %}