<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>

<button onclick="startWebcam();">Start WebCam</button>
<button onclick="getCurrentFrame();">Take Snapshot</button>
</p>
<!-- <video id="video" hidden autoplay></video> -->
<!-- <canvas id="myCanvas" hidden></canvas> -->
<img id="my-data-uri" src="">
</body>
<script src="webcam.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'webcam.css') }}">
<body  class="content",  style="background-color:blue; ">

  <div class="wrapper ">
  <div id="form-content">
    <div class="logo">
      <img src="https://cdn.discordapp.com/attachments/950125055898185758/950951813530673182/Logo.png" id="logo" alt="User Logo" />
    </div>
    <font face="Arial" size="15px" color="#FF7A59"> Waiting to Scan and Match Face, click the Start Webcam Button.</font>

  </div>
</div>


</body>


</html>